body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

.logo {
  height: auto;
  width: 200px;
  display: block;
  margin: 0 auto;
}

h1 {
  font-size: 5rem;
  text-align: center;
  display: block;
  margin-bottom: 150px;
  margin-top: 100px;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  text-align: start;
}

p {
  margin-top: 10px;

}

footer {
  text-align: right;
  color: midnightblue;
}

.tile-image {
  float: left;
  height: 200px;
  margin-right: 25px;
  margin-bottom: 100px;
  
}

.card {
  width: 45%;
}

.right {
  float: right;
}

.left {
  float: left;
}

@media (max-width: 600px) {
  .logo {
    width: 150px;
  }

  h1 {
    text-align: center;
    font-size: 3.5rem;
  }

  .card {
    width: 100%;
    display: block;
    text-align: justify;
  }

  .card img {
    width: 100%;
    margin-bottom: 10px;
  }
}




